<h1> <%= @restaurant.title %> </h1>
<div><%= @restaurant.description %></div>

 <% if @restaurant.reviews.empty? %>
 <p> No Reviews yet. Be the first! </p>
 <% else %>
	 <% @restaurant.reviews.each do |review| %>
	 <%= review.title %>
	 <%= review.review %>
	 <% end %>
<% end %>

<p> <%= link_to "New Review", new_restaurant_review_path(@restaurant, @review) %></p> 